<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/landmark">
      <img src="{{ '/assets/img/NKR_white.png' | relative_url }}" alt="NKR Logo" style="height: 30px;" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLandmark" aria-controls="navbarLandmark" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarLandmark">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="papersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Papers
          </a>
          <div class="dropdown-menu" aria-labelledby="papersDropdown">
            {% assign landmark_pages = site.pages | where: "layout", "landmark" %}
            {% for page in landmark_pages %}
              <a class="dropdown-item" href="{{ page.url | relative_url }}">{{ page.title | upcase }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/landmark">Table of Contents</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
